<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="ecat_joint_control" params="name transmission torque_constant:=0.1 reduction_ratio:=1">
    <joint name="${name}">
      <command_interface name="position"/>
      <command_interface name="effort" />
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <param name="torque_constant">${torque_constant}</param>
      <param name="reduction_ratio">${reduction_ratio}</param>
    </joint>
    <transmission name="${name}_transmission">
      <plugin>transmission_interface/SimpleTransmission</plugin>
      <actuator name="${name}_actuator" role="${name}_actuator"/>
      <joint name="${name}" role="${name}">
        <mechanical_reduction>${transmission}</mechanical_reduction>
        <offset>0.0</offset>
      </joint>
    </transmission>
  </xacro:macro>

  <xacro:macro name="can_joint_control" params="name">
    <joint name="${name}">      <!--表示这个 joint 是控制系统中识别的“控制对象”，不是物理关节的URDF结构，而是 ROS 2 控制框架使用的控制接口。-->
      <!-- <state_interface name="effort"/> -->
      <!-- 这些告诉控制器：“我能读取这个关节的哪些状态”  可以接受sysmo_left_arm控制器的state_interface -->
      <state_interface name="velocity"/>
      <state_interface name="position"/>

      <command_interface name="position"/>
      <!--这些告诉控制器：“能接受哪种命令”  可以接受sysmo_left_arm控制器的command_interfaces-->
      <command_interface name="velocity"/>
      <command_interface name="effort" />
    </joint>
  </xacro:macro>

  <xacro:macro name="sysbot_ros2_control" params="name prefix">

    <ros2_control name="${name}_CANHardware" type="system">
      <hardware>
        <plugin>sysmo_hardware/CANHardware</plugin>
      </hardware>

      <xacro:can_joint_control name="left_shoulder_pitch_joint" />
      <xacro:can_joint_control name="left_shoulder_roll_joint" />
      <xacro:can_joint_control name="left_shoulder_yaw_joint" />
      <xacro:can_joint_control name="left_elbow_joint" />
      <xacro:can_joint_control name="left_wrist_yaw_joint" />
      <xacro:can_joint_control name="left_wrist_pitch_joint" />

      <xacro:can_joint_control name="right_shoulder_pitch_joint" />
      <xacro:can_joint_control name="right_shoulder_roll_joint" />
      <xacro:can_joint_control name="right_shoulder_yaw_joint" />
      <xacro:can_joint_control name="right_elbow_joint" />
      <xacro:can_joint_control name="right_wrist_yaw_joint" />
      <xacro:can_joint_control name="right_wrist_pitch_joint" />

      <xacro:can_joint_control name="left_gripper_joint" />

      <xacro:can_joint_control name="thumb_third_joint" />
      <xacro:can_joint_control name="index_finger_third_joint" />
      <xacro:can_joint_control name="middle_finger_third_joint" />
      <xacro:can_joint_control name="ring_finger_third_joint" />

      <xacro:can_joint_control name="sysmo_neck_joint" />

    </ros2_control>

    <!-- <ros2_control name="${name}_ECATHardware" type="system">
      <hardware>
        <plugin>sysmo_hardware/ECATHardware</plugin>
        <param name="ecat_controller_ip">192.168.0.11</param>
      </hardware>

      <xacro:ecat_joint_control name="left_ankle_roll_joint" transmission="1" torque_constant="0.134" reduction_ratio="100" />
      <xacro:ecat_joint_control name="left_ankle_pitch_joint" transmission="-1" torque_constant="0.134" reduction_ratio="100" />
      <xacro:ecat_joint_control name="left_knee_joint" transmission="1" torque_constant="0.134" reduction_ratio="120" />
      <xacro:ecat_joint_control name="left_hip_pitch_joint" transmission="1" torque_constant="0.134" reduction_ratio="120" />
      <xacro:ecat_joint_control name="left_hip_yaw_joint" transmission="-1" torque_constant="0.14" reduction_ratio="100" />
      <xacro:ecat_joint_control name="left_hip_roll_joint" transmission="1" torque_constant="0.14" reduction_ratio="100" />

      <xacro:ecat_joint_control name="waist_yaw_joint" transmission="-1" torque_constant="0.134" reduction_ratio="100" />
      <xacro:ecat_joint_control name="waist_pitch_joint" transmission="-1" torque_constant="0.14" reduction_ratio="100" />

      <xacro:ecat_joint_control name="right_hip_roll_joint" transmission="1" torque_constant="0.14" reduction_ratio="100" />
      <xacro:ecat_joint_control name="right_hip_yaw_joint" transmission="-1" torque_constant="0.14" reduction_ratio="100" />
      <xacro:ecat_joint_control name="right_hip_pitch_joint" transmission="-1" torque_constant="0.134" reduction_ratio="120" />
      <xacro:ecat_joint_control name="right_knee_joint" transmission="-1" torque_constant="0.134" reduction_ratio="120" />
      <xacro:ecat_joint_control name="right_ankle_pitch_joint" transmission="1" torque_constant="0.134" reduction_ratio="100"/>
      <xacro:ecat_joint_control name="right_ankle_roll_joint" transmission="-1" torque_constant="0.134" reduction_ratio="100" />

    </ros2_control> -->
  </xacro:macro>

</robot>