<?xml version="1.0"?>
<!-- Revolute-Revolute Manipulator -->
<!--
Copied and modified from ROS1 example -
https://github.com/ros-simulation/gazebo_ros_demos/blob/kinetic-devel/rrbot_description/urdf/sysbot.xacro
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="sysbot">
  <xacro:arg name="prefix" default="" />

  <!-- Import SysBot macro -->
  <xacro:include filename="$(find sysmo_description)/urdf/sysbot_description.urdf.xacro" />
  <!-- Import SysBot ros2_control description -->
  <xacro:include filename="$(find sysmo_description)/ros2_control/sysbot.ros2_control.xacro" />

  <!-- Used for fixing robot -->
  <!-- <link name="world"/> -->

  <!-- <xacro:sysbot parent="world" prefix="$(arg prefix)">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:sysbot> -->

  <xacro:sysbot_ros2_control name="SysBot" prefix="$(arg prefix)"/>

</robot>
